@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.HeroSection)Model.Content;
}

<section class="relative py-[7rem]">
	<div class="absolute inset-0">
		@if (content.HeroBgImage != null)
		{
			<img src="@content.HeroBgImage.Url()" class="w-full h-full object-cover" />
		}
	</div>


	<div class="container mx-auto px-4 relative z-10">
		<div class="w-5/12 flex flex-col gap-8">
			<h1 class=" text-[4.5rem] font-bold leading-none">@content.HeroTitle</h1>
			<div class="rte">@Html.Raw(content.HeroText)</div>

            @foreach (var link in content.HeroLink)
            {
                string href = "#"; // fallback

                if (!string.IsNullOrEmpty(link.Url))
                {
                    // extern länk
                    href = link.Url;
                }
                else if (link.Udi != null)
                {
                    // intern länk
                    var contentItem = Umbraco.Content(link.Udi);
                    if (contentItem != null)
                    {
                        href = contentItem.Url(); // IPublishedContent.Url()
                    }
                }

                <a href="@href" class="bg-primary text-white py-3 px-10 rounded">
                    @link.Name ?? "Link"  // eller Title om modellen heter det
                </a>
            }






		</div>
	</div>
</section>