@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.HomeSuccessSection)Model.Content;
}

<section class="bg-[#49524C] text-white py-16">
    <div class="max-w-6xl mx-auto px-6 text-center">
        <!-- Label -->
        <p class="text-sm uppercase tracking-wide text-gray-300 mb-2 text-[#D9C3A9]">@content.HomeSuccessLabel</p>

        <!-- Title -->
        <p class="text-3xl font-semibold mb-12">@content.HomeSuccessTitle</p>

        <!-- Numbers -->
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 mb-12">
            <div>
                <p class="text-6xl font-bold mb-2">@content.HomeSuccessNumberOne</p>
            </div>

            <div>
                <p class="text-6xl font-bold  mb-2">@content.HomeSuccessNumberTwo</p>
            </div>

            <div>
                <p class="text-6xl font-bold  mb-2">@content.HomeSuccessNumberThree</p>
            </div>
        </div>

        <!-- Image -->
        <div class="mt-8">
            <img class="w-full max-w-4xl mx-auto rounded-lg shadow-lg object-cover"
                 src="@(content.HomeSuccessImage?.Url() ?? "~/images/Img.svg")"
                 alt="Success Story Image" />
        </div>
    </div>
</section>
